@model BDHub.Models.CertUser

@{
    ViewBag.Title = "Create BDoken Account";
}

<script type="text/javascript">
    var profileUpdated = "@ViewBag.Message";
    if (!(profileUpdated === ""))
        alert(profileUpdated);
</script>

<h2>Create BDoken Account</h2>

@using (Html.BeginForm("CreateBDokenAcc", "BDokenSettings", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.certUserID)


        <div class="form-group">
            @Html.Label("BDoken password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="TypePassword" data-val="true" data-val-required="This field is required" class="form-control" id="password" type="password">
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Repeat BDoken password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="RetypePassword" class="form-control" id="password" type="password" style="margin-top:10px">
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create account" class="btn btn-default" onclick="return alert('Choose where to save json keystore file with account details. Don\'t lose it.\nCreating a file might take a while depending on your CPU.')"/>
            </div>
        </div>
    </div>
}