@model BDHub.Models.CertUser

@{
    ViewBag.Title = "CreateBDokenAcc";
}

<script type="text/javascript">
    var profileUpdated = "@ViewBag.Message";
    if (!(profileUpdated === ""))
        alert(profileUpdated);
</script>

<h2>Create BDoken Account</h2>

@using (Html.BeginForm("CreateBDokenAcc", "NavigationBar", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.certUserID)


        <div class="form-group">
            @Html.Label("BDoken password", htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.PasswordFor(model => model.password, new { Name = "TypePassword", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Repeat BDoken password", htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.PasswordFor(model => model.password, new { Name = "RetypePassword", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create account" class="btn btn-default" />
            </div>
        </div>
    </div>
}