@model IEnumerable<BDHub.Models.Payment>
@{
    ViewBag.Title = "Transactions";
}

<h2>My transactions</h2>


   

    <div class="row" id="navRow">
        <div class="col-md-2">
            Sort by: <b>@Html.ActionLink("Video title","Transactions", new { sortOrder = ViewBag.TitleSortParm })</b>
        </div>
        <div class="col-md-2">
            <div class="selected">
                <b>@Html.ActionLink("Payer", "Transactions", new { sortOrder = ViewBag.payerSortParm })</b>
            </div>
        </div>
        <div class="col-md-2">
            <div class="selected">
                <b>@Html.ActionLink("Reciver", "Transactions", new { sortOrder = ViewBag.ReciverSortParm })</b>
            </div>
        </div>
        <div class="col-md-2">
            <div class="selected">
                <b>@Html.ActionLink("Payment", "Transactions", new { sortOrder = ViewBag.PaymentSortParm })</b>
            </div>
            </div>
            <div class="col-md-2">
                <div class="selected">
                    <b>@Html.ActionLink("Date", "Transactions", new { sortOrder = ViewBag.DateSortParm })</b>
                </div>
            </div>
        
</div>

@foreach (var item in Model)
{
<div class="row">
    <div class="col-md-2">
        @item.videoTitle
    </div>

    <div class="col-md-2">
        @item.payerUsername
    </div>

    <div class="col-md-2">
        @item.receiverUsername
    </div>

    <div class="col-md-2">
        @item.paymentSum.ToString("0.#####################") <b>BD</b>
    </div>
    <div class="col-md-2">
        @item.paymentDatetime.Value.ToString("d.M.yyyy. H:mm")
    </div>
</div>
}